*{
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #373737;
    color: floralwhite;
}
section{
    display: table;
    width: 100%;
}

.section-container{
     background-color: #373737;
     margin: 50px 20% 50px;
     padding: 20px;
}

/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

header img.avatar {
    width: 200px;
}

header h1.big-title {
    font-size: 180px;
    text-transform: uppercase;
}

/* Menu de navigation */

nav.nav ul li{
    display: inline-block;
    margin: 10px;
    
}

nav.nav ul li a{
    text-decoration: none;
    color: #373737;
    background-color: floralwhite;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    
}

/* about */

section#about{
    height: 250px;
    background: url(../images/intro.jpg) fixed no-repeat;
    background-position: center;
    text-align: center;
}


/* Conquêtes */

section#conquete{
    text-align: center;
}

/* armes */

section#armes{
    height: 250px;
    background: url(../images/armurerie.jpg) fixed no-repeat ;
    background-position: center;
    
}

.weapon-section{
    display: flex;
    padding: 20px;
    justify-content: center;
}

.weapon-items img{
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

/* footer */

footer {
    display: flex;
    justify-content: center ;
    
}